html,
body {
  margin: 0rem;
}
body{
  height: 100%;
}
* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul li {
  list-style: none;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

.wrapper {
  min-width: 0px;
  flex-direction: column;
  background: #fff;
  display: flex;
  height: 100%;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
  color: #000;
}
html {
  font-size: 16px;
}
button:active,
button:focus {
  outline: none;
}
img {
  display: block;
  max-width: 100%;
}
.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
