@mixin desktop {
  @media screen and (max-width: 1146px) {
    @content;
  }
}
@mixin tablets {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin phones {
  @media screen and (max-width: 480px) {
    @content;
  }
}
@font-face {
  font-family: "Gilroy";
  src: url("./fonts/gilroy-regular.ttf.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("./fonts/gilroy-bold.ttf.ttf");
  font-weight: bold;
  font-style: normal;
}
.btn {
  border: 0.125rem solid #4285f4;
  padding: 0.75rem 1rem;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  &-text {
    margin-left: 0.75rem;
    font-family: "Gilroy", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    color: #2F80ED;
    white-space: nowrap;
  }
}
@import "normalize";
@import "base";
@import "./blocks/header.scss";
@import "index";
