.header {
  display: flex;
  margin-bottom: 2rem;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 3rem 0 0;
  width: 100%;
  max-width: 1306px;
  margin: 0 auto 3rem auto;
  margin: 0 auto 3rem calc(50% - 573px);
  // calc 50%-by window and 573 - 50% by container 
  @include desktop {
    margin: 0 auto 3rem 0;
  }
  @include tablets{
    flex-wrap: wrap;
    justify-content: center;
    padding: 3rem 0 0 0;
  }
  &__btn-text {
    color: #14451f;
  }
}
.nav {
  margin-left: 1rem;
  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    & .active {
      border-bottom: 0.0625rem solid #4285f4;
    }
    @include tablets{
      justify-content: center;
      margin: 2rem 0;
    }
  }
  &__item {
    margin-right: 2.375rem;
    margin-bottom: 0.5rem;
  }
  &__link {
    font-family: "Gilroy", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    color: #000000;
    white-space: nowrap;
  }
}
